body {
  overscroll-behavior: contain;
  position: fixed;
}

#box {
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  width: 100%;
  height: 100%;
  display: table;
}

#text {
  filter: invert(1);
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font: 5em Arial;
  font-weight: bold;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
} 
